<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinPG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinPG.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>wss://openpg.in/pg</value>
            </setting>
            <setting name="IPv4" serializeAs="String">
                <value>100.99.0.25/24</value>
            </setting>
            <setting name="IPv6" serializeAs="String">
                <value>fd99::25/64</value>
            </setting>
            <setting name="MTU" serializeAs="String">
                <value>1371</value>
            </setting>
        </WinPG.Properties.Settings>
    </userSettings>
</configuration>